body{
    min-width: 700px;
    min-height: 100%;
    overflow: hidden;
}
#mplayer{
    display: none;
    image-rendering: pixelated;
}
.bodyCont{
    border: orange solid 5px;
    padding: 1em;
    display: flex;
    flex-direction: column;
}
.conteinerCanv{ 
    outline: auto;
    display: flex;
    justify-content: center;
    transform: scale(1) translateY(0%);
    image-rendering: pixelated;
    background-color: #1b1b38;
}
canvas{ 
    outline-color: currentcolor;
    outline-style: inherit;
    outline-width: medium;
    width: 60%;
}
.act_panel{
    position: absolute;
    visibility: hidden;
}
button {
  visibility: hidden;
}